*{
    margin: 0px;
    padding: px;
}

.head{
    display: flex;
    justify-content: space-between;
    background-color: teal;
    align-items: center;
    height: 50px;
}

.lt_bar{
    display: flex;
    gap: 10px;
}

.prof{
    font-size: 30px;
}

.ul{
    display: flex;
    gap: 10px;
    list-style: none;
    margin-top: 10px;
}
.rt_bar{
    align-items: center;
}
.button{
    background-color: rgb(117, 236, 236);
}